---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
export interface Props {
    frontmatter: {
        title: string;
        description: string;
        image: ImageMetadata;
        hideHeaderImage?: boolean;
        publishedAt: Date;
        tags: string[];
        readTime: number;
    };
}

const formatter = new Intl.DateTimeFormat("en-IN", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
const { frontmatter } = Astro.props;
const url = Astro.url;
const backUrl = "/" + url.pathname.split("/")[1];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{frontmatter.title} - kubre.in</title>
        <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />

        <meta name="title" content={frontmatter.title + " - kubre.in"} />
        <meta name="description" content={frontmatter.description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={url} />
        <meta property="og:title" content={frontmatter.title + " - kubre.in"} />
        <meta property="og:description" content={frontmatter.description} />
        <meta
            property="og:image"
            content={"https://kubre.in/assets/" + frontmatter.image}
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={url} />
        <meta property="twitter:title" content={frontmatter.title} />
        <meta
            property="twitter:description"
            content={frontmatter.description}
        />
        <meta
            property="twitter:image"
            content={"https://kubre.in/assets/" + frontmatter.image}
        />

        <link rel="icon" type="image/jpeg" href="/assets/me.jpg" />
        <style is:global>
            @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

            @font-face {
                font-family: "Departure Neon";
                /* src: url("/fonts/MonaspaceNeon-Regular.woff") format('woff'); */
                src: url("/fonts/DepartureMono-Regular.woff") format("woff");
                font-weight: normal;
                font-style: normal;
                font-display: swap;
            }

            body {
                @apply font-mono bg-enamel text-carbon;
                font-display: swap;
            }

            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.3);
            }

            ::-webkit-scrollbar {
                width: 4px;
                @apply bg-gray-500;
            }

            ::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
                @apply bg-gray-300;
            }

            ::selection {
                @apply bg-yellow-400;
            }

            .typography {
                @apply font-inter;
                font-display: swap;
            }

            .typography h1 {
                @apply text-xl font-bold mt-6 mb-2;
            }

            .typography p {
                @apply mb-3 text-black;
            }

            .typography a {
                @apply underline hover:bg-yellow-400;
            }

            .typography img {
                @apply w-full h-auto my-4;
            }

            .typography pre {
                @apply p-2 my-4 text-black;
            }

            .typography ul {
                @apply list-disc my-4 pl-8;
            }

            .typography ol {
                @apply list-decimal my-4 pl-12;
            }

            .typography li {
                @apply my-2;
            }

            .typography li::marker {
                @apply text-carbon-lighter font-mono;
            }

            .typography blockquote {
                @apply bg-enamel-dark p-2 my-4 text-black;
            }

            .typography table {
                @apply w-full my-4;
            }

            .typography table th {
                @apply border-b-2 border-carbon py-2 border-r-2;
            }

            .typography table td {
                @apply border-b-2 border-carbon border-r-2 p-2;
            }

            .typography table th:last-child, .typography table td:last-child {
                @apply border-r-0;
            }

            .typography table td img {
                @apply w-full h-auto;
            }
        </style>
    </head>
    <body class="max-w-screen-md mx-auto px-4 lg:px-0">
        <Nav />
        <main>
            <article class="pt-10 typography font-sans">
                <div class="flex justify-between items-center">
                    <a
                        href={backUrl}
                        class="text-carbon-lighter font-mono hover:bg-yellow-400 hover:text-black transition-colors"
                    >
                        ← Back
                    </a>
                    <dl>
                        <dt class="sr-only">Date</dt>
                        <dd
                            class="whitespace-nowrap not-prose pl-0 leading-6 font-mono text-sm text-carbon-lighter uppercase"
                        >
                            <time datetime={frontmatter.publishedAt}>
                                {
                                    formatter.format(
                                        new Date(frontmatter.publishedAt),
                                    )
                                }
                            </time>
                        </dd>
                    </dl>
                </div>
                <h1 class="font-mono uppercase text-2xl text-carbon-lighter">
                    {frontmatter.title}
                </h1>
                {
                    !frontmatter.hideHeaderImage && (
                        <figure>
                            <img
                                src={frontmatter.image.src}
                                height={frontmatter.image.height}
                                width={frontmatter.image.width}
                                alt={frontmatter.title}
                                class="w-auto h-auto p-4"
                            />
                        </figure>
                    )
                }
                <section>
                    <slot />
                </section>
                <section class="giscus mx-auto my-10 max-w-screen-md">
                    <script
                        src="https://giscus.app/client.js"
                        data-repo="kubre/kubre.in"
                        data-repo-id="R_kgDOIK6Pcg"
                        data-category="Comments"
                        data-category-id="DIC_kwDOIK6Pcs4CUdUh"
                        data-mapping="pathname"
                        data-strict="0"
                        data-reactions-enabled="1"
                        data-emit-metadata="0"
                        data-input-position="bottom"
                        data-theme="light"
                        data-lang="en"
                        data-loading="lazy"
                        crossorigin="anonymous"
                        async></script>
                </section>
                <Footer />
            </article>
        </main>
        <SpeedInsights />
    </body>
</html>
