---
import "@fontsource/ibm-plex-mono";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import SpeedInsights from '@vercel/speed-insights/astro';
export interface Props {
    frontmatter: {
        title: string;
        description: string;
        image: ImageMetadata;
        hideHeaderImage?: boolean;
        publishedAt: Date;
        tags: string[];
        readTime: number;
    };
}

const formatter = new Intl.DateTimeFormat("en-IN", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
const { frontmatter } = Astro.props;
const url = Astro.url;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{frontmatter.title} - kubre.in</title>

        <meta name="title" content={frontmatter.title + " - kubre.in"} />
        <meta name="description" content={frontmatter.description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={url} />
        <meta property="og:title" content={frontmatter.title + " - kubre.in"} />
        <meta property="og:description" content={frontmatter.description} />
        <meta
            property="og:image"
            content={"https://kubre.in/assets/" + frontmatter.image}
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={url} />
        <meta property="twitter:title" content={frontmatter.title} />
        <meta
            property="twitter:description"
            content={frontmatter.description}
        />
        <meta
            property="twitter:image"
            content={"https://kubre.in/assets/" + frontmatter.image}
        />

        <link rel="icon" type="image/jpeg" href="/assets/me.jpg" />
        <style is:global>
            body {
                @apply font-mono bg-black text-white;
            }

            ::-webkit-scrollbar {
                width: 4px;
                @apply bg-gray-500;
            }

            ::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
                @apply bg-gray-300;
            }
        </style>
    </head>
    <body class="max-w-screen-md mx-auto px-4 lg:px-0">
        <Nav />
        <main class="px-4 md:px-0 pt-16 font-mono prose prose-invert lg:prose-lg">
            <h1>{frontmatter.title}</h1>
            <div class="font-mono text-gray-200"></div>
            &#9716; {formatter.format(new Date(frontmatter.publishedAt))} | &#9749;
            {frontmatter.readTime} mins
        </main>
        {
            !frontmatter.hideHeaderImage && (
                <figure>
                    <img
                        src={frontmatter.image.src}
                        height={frontmatter.image.height}
                        width={frontmatter.image.width}
                        alt={frontmatter.title}
                        class="invert w-auto h-auto p-4"
                    />
                </figure>
            )
        }
        <div class="h-8"></div>
        <section class="prose prose-invert lg:prose-lg">
            <slot />
        </section>
        <section class="giscus mx-auto my-10 max-w-screen-md">
            <script
                src="https://giscus.app/client.js"
                data-repo="kubre/kubre.in"
                data-repo-id="R_kgDOIK6Pcg"
                data-category="Comments"
                data-category-id="DIC_kwDOIK6Pcs4CUdUh"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="dark"
                data-lang="en"
                data-loading="lazy"
                crossorigin="anonymous"
                async></script>
        </section>
        <Footer />
        <SpeedInsights />
    </body>
</html>
