---
import "@fontsource/source-code-pro";
import "@fontsource/roboto";
import "@fontsource/roboto-serif";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

export interface Props {
    frontmatter: {
        title: string;
        description: string;
        image: string;
        slug: string;
        publishedAt: Date;
        tags: string[];
    };
}

const formatter = new Intl.DateTimeFormat("en-IN", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
const { frontmatter } = Astro.props;
const url = Astro.url;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{frontmatter.title} - kubre.in</title>

        <meta name="title" content={frontmatter.title + " - kubre.in"} />
        <meta name="description" content={frontmatter.description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={url} />
        <meta property="og:title" content={frontmatter.title + " - kubre.in"} />
        <meta property="og:description" content={frontmatter.description} />
        <meta
            property="og:image"
            content={"https://kubre.in/assets/" + frontmatter.image}
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={url} />
        <meta property="twitter:title" content={frontmatter.title} />
        <meta
            property="twitter:description"
            content={frontmatter.description}
        />
        <meta
            property="twitter:image"
            content={"https://kubre.in/assets/" + frontmatter.image}
        />

        <link rel="icon" type="image/jpeg" href="/assets/me.jpg" />
        <style is:global>
            body {
                font-family: "Roboto", sans;
                @apply bg-black text-white;
                /* @apply text-lg bg-black text-white; */
            }

            h2 {
                @apply text-3xl font-bold mb-6 mt-12 text-gray-100 font-serif;
            }

            p {
                @apply text-lg mb-4 leading-relaxed;
            }

            .astro-code {
                @apply my-4 rounded border border-gray-900 p-4;
            }

            ol {
                @apply list-decimal list-inside;
            }

            ul {
                @apply list-disc list-inside;
            }
        </style>
    </head>
    <body>
        <Nav />
        <main class="max-w-screen-md mx-auto px-4 md:px-0 pt-16">
            <h1 class="text-4xl font-bold font-serif mb-4 text-gray-100">
                {frontmatter.title}
            </h1>
            <span class="font-mono text-gray-200"
                >📅 {formatter.format(new Date(frontmatter.publishedAt))}</span
            >
            <figure class="mb-8">
                <img
                    src={"/assets/" + frontmatter.image}
                    alt={frontmatter.title}
                    class="invert w-full h-auto p-4"
                />
            </figure>
            <section class="content">
                <slot />
            </section>
            <section class="giscus mx-auto my-10 max-w-screen-md">
                <script
                    src="https://giscus.app/client.js"
                    data-repo="kubre/kubre.in"
                    data-repo-id="R_kgDOIK6Pcg"
                    data-category="Comments"
                    data-category-id="DIC_kwDOIK6Pcs4CUdUh"
                    data-mapping="pathname"
                    data-strict="0"
                    data-reactions-enabled="1"
                    data-emit-metadata="0"
                    data-input-position="bottom"
                    data-theme="dark"
                    data-lang="en"
                    data-loading="lazy"
                    crossorigin="anonymous"
                    async
                ></script>
            </section>
        </main>
        <Footer />
    </body>
</html>
